.postarea{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-top:60px;
}
.allposts{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: column;
}
