.create-post{
    width:70%;
    background-color:none;
    border:none;
    color:#F5F5F5;
    border-radius:7px;
    margin-bottom:100px;
}
.textpost{
width:80%;
height:180px;
outline:none;
border:none;
padding:12px;
font-family:inherit;
font-size:15px;
border-radius:8px;
background-color:#334756;
color:#F5F5F5;
}
.photopost >input {
  display:none;
}
.photoicon{
    font-size:24px;
    cursor:pointer;
    float:left;
    padding-left:70px;
    margin-top:10px;
}
.uploadbtn{
  margin-top:50px;
  float:right;
  margin-right:70px;
  width:100px;
  height:35px;
  border:none;
  border-radius:5px;
  font-size:14px;
  font-family:inherit;
  font-weight:bold;
  cursor: pointer;
  background-color:#F78812;
  color:#000000;
}
#image-preview{
  display:none;
  height:100px;
  margin:15px;
  padding-left:50px;
}